
<header>

    <ul id="header-nav">
        <li id="heading"><a href="/">Habit-Tracker</a></li>
        <div id="links">
        
            <li>
                Sonu
            </li>
        
        </div>
    </ul>
</header>