header{
    margin: 0;
    height: 70px;
    /* background-color: black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    margin: 0;
    font-size: xx-large;
    
}

#header-nav li a{
    text-decoration: none;
    color: white;
    
}
